<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/base.css">
  <title>{% if page.title %}{{ page.title }} · {% endif %}The Curiosities Jazz Band</title>
</head>

<body>
  <header id="site-nav">
    <nav>
      <ul>
        <li id="page-logo"><a href="./"><img src="images/logo-transparent.png"
              alt="The Curiosities Jazz Band logo" /></a></li>
        <li class="nav-link"><a href="about.html">About</a></li>
        <li class="nav-link"><a href="media.html">Media</a></li>
        <li class="nav-link after-logo"><a href="albums.html">Albums</a></li>
        <li class="nav-link after-logo"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <a href="#site-nav" class="open-nav-btn">≡</a>
    <a href="#" class="close-nav-btn">ｘ</a>
  </header>

  {{ content }}
  
  <footer>
    <ul>
      <li><a href="https://instagram.com/curiositiesjazz" target="_blank"><img src="images/insta.png"
            alt="Instagram logo"></a></li>
      <li><a href="https://facebook.com/curiositiesjazz" target="_blank"><img src="images/facebook.png"
            alt="Facebook logo"></a></li>
    </ul>
  </footer>
</body>

</html>