/* elements */

html {
  --font-family-primary: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  --font-family-secondary: 'Sofia Sans Extra Condensed', sans-serif;
  --color-accent:  #4d0000;

  background-color: white;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: .5px;
}

p a {
  color: var(--color-accent);
  border-bottom: 1px solid rgba(77, 0, 0, 0.3);
  text-decoration: none;
}

h2 {
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
}

h3 {
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: 24px;
}

/* header */

header {
  padding: 12px;
}

header a {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

nav .home-link {
  display: block;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
}

nav .nav-link {
  padding: 8px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav .nav-link a {
  color: rgba(82, 82, 82, 0.7);
}

nav .nav-link.active a {
  color: var(--color-accent);
}

header .open-nav-btn,
header .close-nav-btn {
  font-size: 32px;
  position: absolute;
  top: -4px;
  right: 8px;
  display: none;
  color: black;
}

/* content */

section {
  max-width: 1024px;
  margin: 24px auto;
  padding: 0 12px;
  box-sizing: border-box;
}

section.narrow {
  max-width: 768px;
}

section.full-bleed {
  padding: 0;
  margin: 0;
  max-width: unset;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.centered {
  text-align: center;
}

section>img {
  width: 100%;
  object-fit: cover;
}

ul.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

ul.grid.col-2 {
  grid-template-columns: 1fr 1fr;
}

ul.grid.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

ul.grid.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul.grid.spaced {
  gap: 64px;
}

ul.grid img {
  max-width: 100%;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

a.button {
  color: var(--color-accent);
  text-decoration: none;
  border: 2px solid var(--color-accent);
  border-radius: 3px;
  padding: 21px 34px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

/* footer */

footer ul {
  padding: 24px;
  display: flex;
  justify-content: center;
}

footer li {
  width: 64px;
  height: 64px;
  margin: 0 18px;
}

footer img {
  width: 100%;
  height: 100%;
}

/* media queries */

/* 768 - 1 to support portrait mode iPads */
@media (max-width: 767px) {
  header .open-nav-btn {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  #page-logo {
    order: 0;
  }

  #site-nav:target {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1;
  }

  #site-nav .nav-link {
    display: none;
    font-size: 24px;
  }

  #site-nav:target .nav-link {
    display: block;
  }

  #site-nav:target .open-nav-btn {
    display: none;
  }

  #site-nav:target .close-nav-btn {
    display: block;
  }

  section.full-bleed {
    height: 300px;
  }

  ul.grid.col-2,
  ul.grid.col-3,
  ul.grid.col-4 {
    grid-template-columns: 1fr;
  }
}